In [1]:
# Scope of variable
var1=40  # variable with global scope
def myfunc():
    print(var1)  # value 40 will be assigned due to global scope of variable var1
    
myfunc()
print(var1)

40
40

In [2]:
def func1():
    var2=100 # variable with local scope
    print (var2)
    
def func2():
    var2+=100  
    print(var2)  # This will throw error due to local scope of var2
    
func1()
# func2()

100

In [3]:
# Defaut value in python function
def car(name, model = 'Q7'):
    print(name,model)
   
# model name is default
car("Audi")

Audi Q7

In [4]:
# model name is updated 
car("Audi", "Q3")

Audi Q3

### Exercise: WAP to create a function show_employee() using following conditions:
                * it should accept the employees name and salary and display both
                * if salary is missing in function call,  then assign default value to salary

In [5]:
def  show_employee(name, salary=10000):
    print(name, salary)
 
show_employee("Kanishk")
show_employee("Kanishk",15000)

Kanishk 10000
Kanishk 15000

## Recursive Function

### Create a python recursive function: 
In python, we know that a function can call other functions. It is even possible for function to call itself

In [6]:
# factorial of input number
def factorial(x):
    '''
    this is a recursive function to find 
    factorial of a positive integer.
    '''
    if x==1:
        return 1
    else:
        return (x*(factorial(x-1)))

num = int(input("Enter the number of factorial: "))
print("The factorial of", num , "is", factorial(num))

Enter the number of factorial: 10
The factorial of 10 is 3628800

In [7]:
# Alternative method
userInput = int(input("Enter the positive integer : "))
if userInput <=0:
    print("Invalid number, please re-enter")
    userInput= input("Enter a positive non zero number:")
    
else:
    print("Thank you, wait for the result!!")
    
fact=1
if userInput > 0:
    while userInput > 0:
        fact *= userInput
        userInput-=1
    print("The factorial of is", fact)

Enter the positive integer : 10
Thank you, wait for the result!!
The factorial of is 3628800

* args
    * When you are not sure about the number of arguments being passed to a function then we use *args as funtion parameter.
    * Arguments must be passed as list or tuple

In [8]:
def userDetails(*args):
    print(args)
    
userDetails('TEK1001','Kanishk', 100000, 21, 'India', 'English')
userDetails('TEK1001','Qwerty', 100000, 21, 'India',)

('TEK1001', 'Kanishk', 100000, 21, 'India', 'English')
('TEK1001', 'Qwerty', 100000, 21, 'India')

In [9]:
def addition(*args):
    return sum(args)

In [10]:
list_1 = [1,2,3,4,5,6,7,8,9]
tuple_1 = (1,2,3,4,5,6,7,8,9,10)
print(addition(*list_1))
print(addition(*tuple_1))

45
55

### Keyword arguments:
    ** kwargs
        ** kwargs allow us to pass variable name of keyword argument to the function.

In [11]:
def userDetails(**kwargs):
    print(kwargs)
    
userDetails(EmpID = 'TEK1001', Name = 'Kanishk', Salary = 100000, Age = 21, Country = 'India', Language = 'English')
# userDetails('TEK1001','Qwerty', 100000, 21, 'India',)

{'EmpID': 'TEK1001', 'Name': 'Kanishk', 'Salary': 100000, 'Age': 21, 'Country': 'India', 'Language': 'English'}

In [12]:
dict1 = {'EmpID': 'TEK1001', 'Name': 'Kanishk', 'Salary': 100000, 'Age': 21, 'Country': 'India', 'Language': 'English'}
print(dict1["EmpID"])

TEK1001

In [13]:
def userDetails(**kwargs):
    return kwargs
    
empdetails =userDetails(EmpID = 'TEK1001', Name = 'Kanishk', Salary = 100000, Age = 21, Country = 'India', Language = 'English')
# userDetails('TEK1001','Qwerty', 100000, 21, 'India',)
print(empdetails["EmpID"])

TEK1001

In [14]:
## Alternative method
def userDetails(**kwargs):
    for key,val in kwargs.items():
        print("{} : {}".format(key,val))
    
userDetails(EmpID = 'TEK1001', Name = 'Kanishk', Salary = 100000, Age = 21, Country = 'India', Language = 'English')
# userDetails('TEK1001','Qwerty', 100000, 21, 'India',)

EmpID : TEK1001
Name : Kanishk
Salary : 100000
Age : 21
Country : India
Language : English

### Lambda:
    * A lambda function is an anonymous function.
    * Lambda function can have any number of parameters but a single expression. The expression is evaluated and returned.

#### syntax -> lambda argument(s) : expression
    * e.g., lambda arg1,arg2 : arg1+arg2

In [15]:
addition = lambda a: a+10   # this lambda function adds value 10 to an argument
print(addition(10))

20

In [16]:
product = lambda a,b : a*b
print(product(10,20))

200

In [17]:
result = lambda *args : max(args)  #  this lambda function can take any number of variables
result(10,20), result(10,32,344,23,34)

(20, 344)

### Filter
    * It is used to filter iterables/sequence as per conditions.
    * Filter function filters the original iterable ans passes the items that returns True for the function provided to filter().
    * Filter is generally used with lambda function.

In [18]:
?filter

In [19]:
list_1 = [1,2,3,4,5,6,7,8,9]
def odd(num):
    if num%2 != 0:
        return True
    else:
        return False

In [20]:
list(filter(odd,list_1))

[1, 3, 5, 7, 9]

In [21]:
list(filter(lambda x: x%2!=0,list_1))

[1, 3, 5, 7, 9]

### Map
    * map() function applies a given function of each item of an iterable (list,tuple, ) and returns list of results.

In [22]:
def twice(num):
    return num*2

# lambda function returns true or false in filter
oddnum= list(filter(lambda x: x%2!=0,list_1))
list(map(twice,oddnum))

[2, 6, 10, 14, 18]

In [23]:
# lambda function will return value 
list(map(lambda num : str(num*2) + " Even",oddnum))

['2 Even', '6 Even', '10 Even', '14 Even', '18 Even']

In [24]:
list(map(lambda num : str(num*2) + " Even", list(filter(lambda x: x%2!=0,list_1))))

['2 Even', '6 Even', '10 Even', '14 Even', '18 Even']

In [25]:
## map(lambda(filter))

In [26]:
list(map(lambda x: x%2!=0,oddnum))

[True, True, True, True, True]

### Reduce
    * Reduce(function, sequence) is used to apply a particular function passed in its argument to all list elements.
    * Reduce() is defined in "function" module

In [27]:
from functools import reduce
# reduce = used this for aggregate function
def summation(a,b):
    return a+b

In [28]:
doubles = [1,2,3,4,5,6,7,8]
sum_all = reduce(summation,doubles)
print(sum_all)

36

In [29]:
# Alternative
doubles = [1,2,3,4,5,6,7,8]
sum_all = reduce(lambda a,b : a+b,doubles)
print(sum_all)

36

In [30]:
# find minimum number from a list using lambda
list_2 = [10,34,23,1,56,8,4]
min_value = reduce(lambda a,b: min(a,b), list_2)
print(min_value)

1

In [31]:
# Alternative
min_value = reduce(lambda a,b:a if a<b else b, list_2)
print(min_value)

1

### frozenset() method
    * it creates an immuatable set object from an iterable. It is a built in python function. As it set() hence it will store only unique value.

In [32]:
list_3 = ['Apple', 'Banana', 'Cupcakes','Donuts','Cupcakes','Donuts']
sets=set(list_3)
sets

{'Apple', 'Banana', 'Cupcakes', 'Donuts'}

In [33]:
fsets=frozenset(list_3)
type(fsets)

frozenset

In [34]:
# frozensets are immutable,  hence add(), update(), has no attribute
#fsets.add('eclairs')

In [35]:
A = frozenset([10,20,30,40,50,60])
B = frozenset([30,40,50,60,70,80])

# copying a frozen set
C = A.copy()
print (C)

frozenset({40, 10, 50, 20, 60, 30})

In [36]:
A.intersection(B)

frozenset({30, 40, 50, 60})

In [37]:
A.union(B)

frozenset({10, 20, 30, 40, 50, 60, 70, 80})

In [38]:
A.difference(B)

frozenset({10, 20})

* Exercise : WAP to check if word is palindrome.

In [41]:
word = input("enter word: ")
rev = word[::-1]
if word == rev:
    print("Palindrome")
else:
    print("NOT")

enter word: p
Palindrome

In [42]:
mylist = ['PHP', 'Madam', 'numpy', 'tenet']
palindrome = list(filter(lambda word : str.lower(word) == str.lower(word[::-1]), mylist ))
palindrome

['PHP', 'Madam', 'tenet']

In [45]:
palin = input("enter word: ")
palindrome = lambda palin : str.lower(palin) == str.lower(palin[::-1])
palindrome(palin)

enter word: php

True

 ### Math Library

In [46]:
import math

In [47]:
math.e
# print the value of Euler 'e'

2.718281828459045

In [49]:
print(math.pi)

3.141592653589793

In [54]:
num=2.3
#returning ceil value of 2.3 (upper value)
print(math.ceil(num))
#returning floor value of 2.3 (lower value)
print(math.floor(num))

3
2

In [56]:
math.factorial(12)

479001600

In [66]:
print("value of log with base e:",math.log(10))
print(math.log(2,2))
print("value of log with base 2:",math.log2(10)) 
print("value of log with base 10:",math.log10(10))

value of log with base e: 2.302585092994046
1.0
value of log with base 2: 3.321928094887362
value of log with base 10: 1.0

In [67]:
print(math.sqrt(4))

2.0

In [70]:
# convert degree to radians
print(math.radians(40))
a=math.pi/6
print(math.degrees(a))

0.6981317007977318
29.999999999999996

### Hashlib library

In [81]:
import hashlib
print(hashlib.algorithms_available)

{'sha3_384', 'mdc2', 'whirlpool', 'sm3', 'sha512_256', 'shake_128', 'sha3_224', 'md4', 'sha224', 'sha3_256', 'sha512_224', 'md5-sha1', 'ripemd160', 'sha384', 'blake2b', 'sha512', 'md5', 'sha3_512', 'blake2s', 'sha1', 'sha256', 'shake_256'}

In [82]:
# initialize the empty message using SHA-256
message = hashlib.sha256()

In [83]:
# update message using byte strings
message.update(b'Hello there')
message.update(b'how are you')
# print the message digest - returns byte
print(message.digest())
# print hexadecimal (0-9, a-f)
print(message.hexdigest())

b'\x17Q\xa9k\\\xb6\x9e4\x0f\x8eo\x04\xd1`\xc1\x85\xb2Rm>np\xf7<\n\xe1\xd5\xb4\xaaY\x17u'
1751a96b5cb69e340f8e6f04d160c185b2526d3e6e70f73c0ae1d5b4aa591775

In [85]:
len(message.hexdigest())

64

In [88]:
def get_sha_256_has(input_value):
    return hashlib.sha256(input_value).hexdigest()

In [93]:
get_sha_256_has(b'Hello World')

'a591a6d40bf420404a011733cfb7b190d62c65bf0bcda32b57b277d9ad9f146e'

In [97]:
def hash_string(input):
    byte_input = input.encode()
    hash_object = hashlib.sha256(byte_input)
    return hash_object

def update_hash(hash_object,input_str):
    hash_object.update(input_str.encode())

hash_object = hash_string("Hello from ABC")

#print hexvalue of message
print(hash_object.hexdigest())

# update the message
update_hash(hash_object,"Hello, how are you?")

#print the hash message after update
print('After updating:', hash_object.hexdigest())

new_str = "Hello from ABCHello, how are you?"
print(hash_string(new_str).hexdigest()==hash_object.hexdigest())

ecf149c73b09ae9bc0bc1c62917a8bbb9d22b96c4c25c97d05ca8674eb35f684
After updating: cfec575dae2c5b03b677298b604b707800a3a5298cab745f6c6725cd3be83a65
True