In [2]:
import keyword

In [3]:
print(keyword.kwlist)

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [5]:
#len() - return length of keywords 
len(keyword.kwlist)

36

### Primitive Data Types:
int, float, complex, string, boolean

In [7]:
var1=10

In [12]:
#type() - returns integer datatype
type(var1)

int

In [13]:
print(var1)

10

In [14]:
var2 = 12345.5678

In [15]:
type(var2)

float

In [19]:
var3='string'
var4="string"

In [20]:
print(var3,var4)

string string

In [32]:
print(type(var3))

<class 'str'>

In [22]:
# ?type() or shift +  tab
#provides documentaion

In [23]:
var6= 10+20j
var7= 12j

In [24]:
type(var6)

complex

In [25]:
bool1 = True
bool2 = False

In [26]:
4567+1239

5806

In [28]:
25**2

625

In [29]:
import sys

In [31]:
print (sys.version)

3.9.13 (main, Aug 25 2022, 23:51:50) [MSC v.1916 64 bit (AMD64)]

In [35]:
import platform
platform.python_version()

'3.9.13'

## String Methods

In [36]:
str1 = "This is Python's string1"
str2 = "This is Python's string2"

In [39]:
#concatenation of strings
str1 + str2

"This is Python's string1This is Python's string2"

In [40]:
str1 +' '+ str2

"This is Python's string1 This is Python's string2"

In [41]:
str3  = str1 +' '+ str2
print(str3)

This is Python's string1 This is Python's string2

In [45]:
str3.title()

"This Is Python'S String1 This Is Python'S String2"

In [46]:
str3.lower()

"this is python's string1 this is python's string2"

In [91]:
str5="This,is,Python,Session,we,are,learning,python,programming"
#seperator or delimitor
print(str5.split(","))

['This', 'is', 'Python', 'Session', 'we', 'are', 'learning', 'python', 'programming']

In [93]:
str5="This is Python Session we are learning python programming"
print(str5.split(" "))

['This', 'is', 'Python', 'Session', 'we', 'are', 'learning', 'python', 'programming']

In [96]:
str6="Data Engineering with Python"
str6.partition(" with")

('Data Engineering', ' with', ' Python')

## Indexing and Slicing

In [47]:
str4= "This is TEK Python Session. We are learning about python basics"

In [55]:
str4[-6]

'b'

In [56]:
#find() - return index position of words from string
# find returns index only for first appearance from the entire string
str4.find("TEK")

8

In [64]:
str4.lower().find("python")

12

In [ ]:
#indexing in python
string[start index : stop index : step size]

In [66]:
#start:stop:step  skips 1 element
str4[8:26:2]

'TKPto eso'

In [67]:
# slicing last 6 elements
str4[-6:]

'basics'

In [84]:
str4[::-1]

'scisab nohtyp tuoba gninrael era eW .noisseS nohtyP KET si sihT'

##  Data Structure in Python

#### List - it is mutable collection of data types (modification is allowed)  []
*duplicate values are allowed
*it is hetrogenous collection of multiple data items of different types. eg. int, float, strings etc.
declare : list=[] or list=list()

In [101]:
#empty list
list1=[]
list1=list()

In [102]:
list1 = [123,456,789.987,'This is list session', 123+45j,True,False]

In [103]:
list1

[123, 456, 789.987, 'This is list session', (123+45j), True, False]

In [104]:
# Concatenation of lists - 
list1 = [123,456,789.987,'This is list session']
list2 = ['True',True,False,101010101, 23+26j]

In [105]:
print(list1+list2)

[123, 456, 789.987, 'This is list session', 'True', True, False, 101010101, (23+26j)]

In [ ]:
#Nested List
list3 = [123,456,789.987,'This is list session',
        ['True',True,False,23+26j]]

### Methods of list

In [106]:
#before append
print (list1)

[123, 456, 789.987, 'This is list session']

In [107]:
list1.append(True)

In [108]:
#after append
print(list1)

[123, 456, 789.987, 'This is list session', True]

In [110]:
list1.append([1234,5678])

In [111]:
print(list1)

[123, 456, 789.987, 'This is list session', True, [1234, 5678]]

In [112]:
#it clears all vlues from list and makes it empty list
list2.clear()

In [113]:
print(list2)

[]

In [114]:
#deletes the variable from the memory
del(list2)

In [119]:
##shallow copy - only items are getting copied from list1 to list2
list2=list1.copy()

In [120]:
#deep copy or  copy by reference
list4=list1

In [121]:
list1.append('list')

In [122]:
print(list2)

[123, 456, 789.987, 'This is list session', True, [1234, 5678]]

In [123]:
print(list4)

[123, 456, 789.987, 'This is list session', True, [1234, 5678], 'list']

In [126]:
#count() returns count of an element present in the list
list1.count(123)

1

In [127]:
list1.extend([12345,1010101,True,False])

In [128]:
print(list1)

[123, 456, 789.987, 'This is list session', True, [1234, 5678], 'list', 12345, 1010101, True, False]

In [129]:
#returns index position of individual element
list1.index(True)

4

In [130]:
#inserts at specific index position
list1.insert(3, 'This is new list')

In [131]:
print(list1)

[123, 456, 789.987, 'This is new list', 'This is list session', True, [1234, 5678], 'list', 12345, 1010101, True, False]

In [132]:
#removes a single value from a list usin index position; default - index = -1
list1.pop()

False

In [133]:
#remove by value
list1.remove(789.987)

In [134]:
#remove by index
list1.pop(1)

456

In [135]:
list1.reverse()

In [136]:
print(list1)

[True, 1010101, 12345, 'list', [1234, 5678], True, 'This is list session', 'This is new list', 123]

### Indexing and slicing in list

In [139]:
list2[0]

123

In [140]:
# step size =2; accessing every another element
list1[::2]

[True, 12345, [1234, 5678], 'This is list session', 123]

In [141]:
#len(list1) = to access all the items till end of the list
list1[1:len(list1)]

[1010101,
 12345,
 'list',
 [1234, 5678],
 True,
 'This is list session',
 'This is new list',
 123]

In [138]:
list1[::-1]

[123,
 'This is new list',
 'This is list session',
 True,
 [1234, 5678],
 'list',
 12345,
 1010101,
 True]

In [142]:
list1

[True,
 1010101,
 12345,
 'list',
 [1234, 5678],
 True,
 'This is list session',
 'This is new list',
 123]

In [145]:
# accessing individual item from nested list
list1[4][1]

5678

## Tuples - Immutable  ()
* when we dont want data to be changed over time tuples are preffered.
* iterating over elements of tuple is faster as compared to iterating over list.
* tuples take less memory compared to lists.

In [146]:
#empty tuple declaration
tuple1=()
tuple1=tuple()

In [150]:
tuple1=(123,456,789.987,'This is tuple session', 123+45j,True,False)

In [151]:
tuple1.count(123)

1

In [152]:
tuple1.index(True)

5

## Sets - collection of unique elements 
* Sts are unordered. Sets has no index attached to any element.
* I is mutable and heterogeneous collection.

In [153]:
set1=set()
type(set1)

set

In [154]:
set1={'This is set', 12345,'Apple', 'Grapes',True,False,908172}

In [155]:
A = {'A','B','C','D','F','H'}
B = {'G','H','I','F','D'}
C = {'A', 'N','O','P','H','D'}

In [157]:
#common value between set A and set B
A.intersection(B)

{'D', 'F', 'H'}

In [158]:
#common value between sets A, B and C
A.intersection(B,C)

{'D', 'H'}

In [164]:
# Alternative method for intersection
(A & B & C)

{'D', 'H'}

In [161]:
#Union of Sets
A|B|C

{'A', 'B', 'C', 'D', 'F', 'G', 'H', 'I', 'N', 'O', 'P'}

In [162]:
A.union(B,C)

{'A', 'B', 'C', 'D', 'F', 'G', 'H', 'I', 'N', 'O', 'P'}

In [163]:
A.difference(B)

{'A', 'B', 'C'}

In [165]:
myset1={1234567,True,False,'Apple','mango',23+46j}
print(myset1)

{False, True, (23+46j), 1234567, 'Apple', 'mango'}

In [167]:
#adding individual value to the set
myset1.add(1010101)

In [168]:
print(myset1)

{False, True, (23+46j), 1010101, 1234567, 'Apple', 'mango'}

In [169]:
#to update existing set with multiple values
myset1.update(['eleven','ten','twelve'])

In [170]:
print(myset1)

{False, True, 1234567, 'ten', 'mango', 'twelve', (23+46j), 'eleven', 'Apple', 1010101}

In [171]:
myset1.pop()

False

In [172]:
list1 = [123, 456, 789.987, 'list ', 12345, 1010101, True, False,'new list']

In [173]:
list1.pop(0)

123

In [174]:
list1.remove(1)

In [175]:
print(list1)

[456, 789.987, 'list ', 12345, 1010101, False, 'new list']

## Dictionary {} - key value pair
* Mutable collection of keys and values, keys will be unique but values could be repetitive.

In [177]:
dict1={}
print(type(dict1))

<class 'dict'>

In [178]:
first_emp= {'empid':'TEK1001', 'Name':'Kanishk', 'Age':21,'City':'Hyderabad'}

In [179]:
print(first_emp)

{'empid': 'TEK1001', 'Name': 'Kanishk', 'Age': 21, 'City': 'Hyderabad'}

In [192]:
fruit_basket=dict([('A','Apple'),('B','Blueberry'),('C','Carrot')])

In [193]:
print(fruit_basket)

{'A': 'Apple', 'B': 'Blueberry', 'C': 'Carrot'}

In [182]:
first_emp.items()

dict_items([('empid', 'TEK1001'), ('Name', 'Kanishk'), ('Age', 21), ('City', 'Hyderabad')])

In [183]:
first_emp.values()

dict_values(['TEK1001', 'Kanishk', 21, 'Hyderabad'])

In [184]:
first_emp.keys()

dict_keys(['empid', 'Name', 'Age', 'City'])

In [190]:
first_emp['Name']

'Kanishk'

In [194]:
#creating new key for existing dictionary
first_emp['Salary'] = 60000

In [195]:
print(first_emp)

{'empid': 'TEK1001', 'Name': 'Kanishk', 'Age': 21, 'City': 'Hyderabad', 'Salary': 60000}

In [200]:
first_emp.update({'Age':[22]})

In [201]:
first_emp

{'empid': 'TEK1001',
 'Name': 'Kanishk',
 'Age': [22],
 'City': 'Hyderabad',
 'Salary': 60000,
 'age': [22]}

In [202]:
first_emp.update({'City':['Hyderabad','Bangalore']})

In [205]:
first_emp['City'][0]

'Hyderabad'

In [206]:
#removes value by using index position
first_emp.pop('empid')

'TEK1001'

### Nested Dictionary

In [218]:
employee= {'emp10':{ 'Name':'Kanishk','salary':'60000'},
           'emp2':{ 'Name':'qwerty','salary':'61000'}}

In [219]:
print(employee)

{'emp10': {'Name': 'Kanishk', 'salary': '60000'}, 'emp2': {'Name': 'qwerty', 'salary': '61000'}}

In [221]:
employee['emp10']

{'Name': 'Kanishk', 'salary': '60000'}

In [223]:
employee['emp10']['Name']

'Kanishk'

### Unassisted practice questions

1. Create a nested dictionary
2. Crete three dictionaries then create one dictionary tha will contain the other three dictionaries.
3. Access key value using get() method
4. Update an existing key's value
5. Check if key exixt
6. Make a copy of dictionary using copy() method
7. Delete entire Dictionary

In [3]:
std1={ 'Name':'Kanishk','roll':'01'}
std2={ 'Name':'qwerty','roll':'02'}
std3={ 'Name':'trainee,','roll':'05'}

In [4]:
student= {'first':std1,
          'second':std2,
          'third':std3
         }

In [5]:
print(student.get('first').get('Name'))

Kanishk

In [11]:
student['first'].update({'Name':'Kashyap'})

In [7]:
student

{'first': {'Name': 'Kashyap', 'roll': '01'},
 'second': {'Name': 'qwerty', 'roll': '02'},
 'third': {'Name': 'trainee,', 'roll': '05'}}

In [8]:
print(student.get('first'))

{'Name': 'Kashyap', 'roll': '01'}

In [10]:
student['std1']['roll']

'01'