### Variables
* A python varriable is a reserved menory location to store values. A variable is created the moment we assign a value t it.

In [1]:
#assignment
first_string_var = "Test Variable"
first_integer_var = 100

In [2]:
first_integer_var = first_integer_var + 100
print(first_integer_var)

200

In [3]:
type(first_integer_var)

int

In [4]:
# multilying string var with integer
first_string_var * 5

'Test VariableTest VariableTest VariableTest VariableTest Variable'

### Multiple Assignments
 * Multiple variables can be assigned simultaneously.

In [5]:
intvar, strvar, floatvar, boolvar = 10000, 'This is python variable', 123.456, True

In [6]:
print(intvar, strvar, floatvar, boolvar)

10000 This is python variable 123.456 True

In [7]:
print("Integer Value -> {}, String Value -> {}, Float Value -> {}, Boolean Value -> {}".format(intvar, strvar, floatvar, boolvar))

Integer Value -> 10000, String Value -> This is python variable, Float Value -> 123.456, Boolean Value -> True

### Data Types
* isinstance()

In [8]:
?isinstance

In [9]:
var1=10
print(var1, " is integer?", isinstance(var1,int))

10  is integer? True

In [10]:
var1=10
print(var1, " is integer?", isinstance(var1,bool))

10  is integer? False

In [11]:
var2 = 23+24j
print(var2, " is complex?", isinstance(var2,int))

(23+24j)  is complex? False

In [12]:
var2 = 23+24j
print(var2, " is complex?", isinstance(var2,complex))

(23+24j)  is complex? True

In [13]:
# displays the unique id of any variable
id(var2)

1737313667248

### Operators
 Operators are constraints which can help manipulate the values of operands.
  1. Arithematic Operators
     * Used to perform mathematical opreations like addition, sub, mul, div.

In [14]:
variable1, variable2 = 5,2

In [15]:
print(variable1 - variable2)
print(variable1 + variable2)
print(variable1 * variable2)
print(variable1 / variable2)
print(variable1 // variable2) #returns quotient
print(variable1 % variable2)  #returns remainder
print(variable1 ** variable2) #power

3
7
10
2.5
2
1
25

2. Comparison Operators
   * comparison operators are used to compare values. It either returns True or False according to condition.

In [16]:
variable1, variable2 = 7,3

In [17]:
print(variable1 > variable2)
print(variable1 < variable2)
print(variable1 >= variable2)
print(variable1 == variable2)
print(variable1 <= variable2)
print(variable1 != variable2)

True
False
True
False
False
True

3. Logical Operators
   * logical opeators 'and', 'or', 'not'

In [18]:
variable1, variable2 = True, False

In [19]:
print(variable1 and variable2)
print(variable1 or variable2)
print( not variable2)

False
True
True

4. Bitwise Operators
   * This acts like an operator as if they were string of binary digits. It operates bit by bit

In [20]:
variable1, variable2 = 3,7

In [21]:
print(variable1 & variable2)  #bitwise AND -> 0000 0011 & 0000 0111 -> 0000 0011
print(variable1 | variable2)  #bitwise OR -> 0000 0011 | 0000 0111 -> 0000 0111
print(~variable2)             #bitwise NOT -> 0000 0011 & 0000 0111 -> 0000 0011
print(variable1 ^ variable2)  #bitwise XOR

3
7
-8
4

### Assignment Operators

In [22]:
var3=40
var3+=4     # var3 = var3 + 4
print(var3)
var3-=8
print(var3)
var3*=4
print(var3)
var3/=3
print(var3)
var3%=10
print(var3)

44
36
144
48.0
8.0

### Python Statements

In [23]:
#Multiple line statements
number= (10+20+30+
        40+50+60+
        20)
print(number)

230

In [24]:
#Multiple line statements
number= 10+20+30+ \
        40+50+60+ \
        20
print(number)

230

### Python Indentation
  * Unlike C, C++, JAVA where we use {} to define a blockof code. In python we use indentation.

In [25]:
# variable1=10
#             variable2=20

In [26]:
# p=10
# if p==10:
# print("p is equal to 10")

### Conditional Statement
   * Control o conditional statements allow to check the behaviour of a program

In [27]:
number = 10

if number < 15:
    print("Number is less than 15")
    print("within if block")
#default
print("outside of if block")

Number is less than 15
within if block
outside of if block

In [28]:
age=18

if age > 18:
    print("Adult")
else:
    print("Child")

Child

In [29]:
#Nested if
age = 10

if age>=13:
    if age<=19:
        print("Teenager")
    else:
        print("Adult")
else:
    print("Child")
print("This is default print and will alwalys get executed")

Child
This is default print and will alwalys get executed

In [30]:
#Nested if
age = int(input("Enter Age: "))

if age>=13:
    if age<=19:
        print("Teenager")
    else:
        print("Adult")
else:
    print("Child")
print("This is default print and will alwalys get executed")

Enter Age: 2
Child
This is default print and will alwalys get executed

In [31]:
# if....elif (else if)....else
marks= float(input("Enter students marks: "))

if marks > 90:
    print("Grade A")
elif marks >80 and marks <=90:
    print("Grade B")
elif marks >70 and marks <=80:
    print("Grade C")
elif marks >60 and marks <=70:
    print("Grade D")
elif marks >50 and marks <=60:
    print("Grade E")
else:
    print("Grade F")

Enter students marks: 33
Grade F

### Ternary Operator
* Ternary operator  also known as conditional statement,  test a condition ina single line, replacing multiple line if..else..This makes code compact

In [32]:
a,b=10,20
max = a if a> b else b
print(max)

20

In [33]:
age=float(input("Enter Age: "))
category = "Adult" if age>=18 else "Child"
print(category)

Enter Age: 33
Adult

In [34]:
brother = float(input("Enter brothers Age: "))
sister = float(input("Enter sisters Age: "))
if brother >  sister:
    print("brother is elder")
elif sister > brother:
    print("sister is elder")
else:
    print("both are twins")

Enter brothers Age: 33
Enter sisters Age: 33
both are twins

In [35]:
brother = float(input("Enter brothers Age: "))
sister = float(input("Enter sisters Age: "))
output = "brother is elder" if  brother > sister else "sister is elder" if sister > brother  else "both are twins"
print(output)

Enter brothers Age: 33
Enter sisters Age: 33
both are twins

### While Loop
   * Use while loop to iterate over a blockof code as long as the test expression is true or break statement is found.

In [36]:
mylist = [10,20,30,40,50,60,70,80,90]
index=0
while index < len(mylist):
    print(mylist[index])
    index+=1

10
20
30
40
50
60
70
80
90

In [37]:
print(index)

9

In [38]:
mylist = [10,20,30,40,50,60,70,80,90]
index=0
sum=0
while index < len(mylist):
    sum=sum+(mylist[index])
    index+=1
    
    print (sum)

10
30
60
100
150
210
280
360
450

### While loop with else
   * while loop in python have optional else part
   * the statement in else will be executed when comdition is not fulfilled anymore.

In [39]:
guess_value = 5
guess=0
while guess != guess_value:
    guess=int(input("enter new number: "))
    if guess > 0:
        if guess > guess_value:
            print("number is large")
        elif guess < guess_value:
            print("number is small")
    else:
        print("sorry!invalid number")
        break
else:
    print("CORRECT")

enter new number: 5
CORRECT

### For Loop
* Python for loop is an iterator based for loop. It steps through the items of list, tuple, string, key of dictionaries and other iterables.

In [40]:
mylist = [10,20,30,40,50,60,70,80,90]
add=0
for i in mylist:
    add+=i
print("Sum is",add)

Sum is 450

In [41]:
#range(start_value, stop_value, step_size)
for val in range (1,11,5):
    print(val)

1
6

### find list of even digit numbers
Problem statement: wap which will print all numbers between 1000 and 3000(both included) such that each number is an even number.

In [42]:
list1=list()
for i in range (1000,3001):
    if i%2==0:
        list1.append(i)
print(list1)

[1000, 1002, 1004, 1006, 1008, 1010, 1012, 1014, 1016, 1018, 1020, 1022, 1024, 1026, 1028, 1030, 1032, 1034, 1036, 1038, 1040, 1042, 1044, 1046, 1048, 1050, 1052, 1054, 1056, 1058, 1060, 1062, 1064, 1066, 1068, 1070, 1072, 1074, 1076, 1078, 1080, 1082, 1084, 1086, 1088, 1090, 1092, 1094, 1096, 1098, 1100, 1102, 1104, 1106, 1108, 1110, 1112, 1114, 1116, 1118, 1120, 1122, 1124, 1126, 1128, 1130, 1132, 1134, 1136, 1138, 1140, 1142, 1144, 1146, 1148, 1150, 1152, 1154, 1156, 1158, 1160, 1162, 1164, 1166, 1168, 1170, 1172, 1174, 1176, 1178, 1180, 1182, 1184, 1186, 1188, 1190, 1192, 1194, 1196, 1198, 1200, 1202, 1204, 1206, 1208, 1210, 1212, 1214, 1216, 1218, 1220, 1222, 1224, 1226, 1228, 1230, 1232, 1234, 1236, 1238, 1240, 1242, 1244, 1246, 1248, 1250, 1252, 1254, 1256, 1258, 1260, 1262, 1264, 1266, 1268, 1270, 1272, 1274, 1276, 1278, 1280, 1282, 1284, 1286, 1288, 1290, 1292, 1294, 1296, 1298, 1300, 1302, 1304, 1306, 1308, 1310, 1312, 1314, 1316, 1318, 1320, 1322, 1324, 1326, 1328, 1330, 1332, 1334, 1336, 1338, 1340, 1342, 1344, 1346, 1348, 1350, 1352, 1354, 1356, 1358, 1360, 1362, 1364, 1366, 1368, 1370, 1372, 1374, 1376, 1378, 1380, 1382, 1384, 1386, 1388, 1390, 1392, 1394, 1396, 1398, 1400, 1402, 1404, 1406, 1408, 1410, 1412, 1414, 1416, 1418, 1420, 1422, 1424, 1426, 1428, 1430, 1432, 1434, 1436, 1438, 1440, 1442, 1444, 1446, 1448, 1450, 1452, 1454, 1456, 1458, 1460, 1462, 1464, 1466, 1468, 1470, 1472, 1474, 1476, 1478, 1480, 1482, 1484, 1486, 1488, 1490, 1492, 1494, 1496, 1498, 1500, 1502, 1504, 1506, 1508, 1510, 1512, 1514, 1516, 1518, 1520, 1522, 1524, 1526, 1528, 1530, 1532, 1534, 1536, 1538, 1540, 1542, 1544, 1546, 1548, 1550, 1552, 1554, 1556, 1558, 1560, 1562, 1564, 1566, 1568, 1570, 1572, 1574, 1576, 1578, 1580, 1582, 1584, 1586, 1588, 1590, 1592, 1594, 1596, 1598, 1600, 1602, 1604, 1606, 1608, 1610, 1612, 1614, 1616, 1618, 1620, 1622, 1624, 1626, 1628, 1630, 1632, 1634, 1636, 1638, 1640, 1642, 1644, 1646, 1648, 1650, 1652, 1654, 1656, 1658, 1660, 1662, 1664, 1666, 1668, 1670, 1672, 1674, 1676, 1678, 1680, 1682, 1684, 1686, 1688, 1690, 1692, 1694, 1696, 1698, 1700, 1702, 1704, 1706, 1708, 1710, 1712, 1714, 1716, 1718, 1720, 1722, 1724, 1726, 1728, 1730, 1732, 1734, 1736, 1738, 1740, 1742, 1744, 1746, 1748, 1750, 1752, 1754, 1756, 1758, 1760, 1762, 1764, 1766, 1768, 1770, 1772, 1774, 1776, 1778, 1780, 1782, 1784, 1786, 1788, 1790, 1792, 1794, 1796, 1798, 1800, 1802, 1804, 1806, 1808, 1810, 1812, 1814, 1816, 1818, 1820, 1822, 1824, 1826, 1828, 1830, 1832, 1834, 1836, 1838, 1840, 1842, 1844, 1846, 1848, 1850, 1852, 1854, 1856, 1858, 1860, 1862, 1864, 1866, 1868, 1870, 1872, 1874, 1876, 1878, 1880, 1882, 1884, 1886, 1888, 1890, 1892, 1894, 1896, 1898, 1900, 1902, 1904, 1906, 1908, 1910, 1912, 1914, 1916, 1918, 1920, 1922, 1924, 1926, 1928, 1930, 1932, 1934, 1936, 1938, 1940, 1942, 1944, 1946, 1948, 1950, 1952, 1954, 1956, 1958, 1960, 1962, 1964, 1966, 1968, 1970, 1972, 1974, 1976, 1978, 1980, 1982, 1984, 1986, 1988, 1990, 1992, 1994, 1996, 1998, 2000, 2002, 2004, 2006, 2008, 2010, 2012, 2014, 2016, 2018, 2020, 2022, 2024, 2026, 2028, 2030, 2032, 2034, 2036, 2038, 2040, 2042, 2044, 2046, 2048, 2050, 2052, 2054, 2056, 2058, 2060, 2062, 2064, 2066, 2068, 2070, 2072, 2074, 2076, 2078, 2080, 2082, 2084, 2086, 2088, 2090, 2092, 2094, 2096, 2098, 2100, 2102, 2104, 2106, 2108, 2110, 2112, 2114, 2116, 2118, 2120, 2122, 2124, 2126, 2128, 2130, 2132, 2134, 2136, 2138, 2140, 2142, 2144, 2146, 2148, 2150, 2152, 2154, 2156, 2158, 2160, 2162, 2164, 2166, 2168, 2170, 2172, 2174, 2176, 2178, 2180, 2182, 2184, 2186, 2188, 2190, 2192, 2194, 2196, 2198, 2200, 2202, 2204, 2206, 2208, 2210, 2212, 2214, 2216, 2218, 2220, 2222, 2224, 2226, 2228, 2230, 2232, 2234, 2236, 2238, 2240, 2242, 2244, 2246, 2248, 2250, 2252, 2254, 2256, 2258, 2260, 2262, 2264, 2266, 2268, 2270, 2272, 2274, 2276, 2278, 2280, 2282, 2284, 2286, 2288, 2290, 2292, 2294, 2296, 2298, 2300, 2302, 2304, 2306, 2308, 2310, 2312, 2314, 2316, 2318, 2320, 2322, 2324, 2326, 2328, 2330, 2332, 2334, 2336, 2338, 2340, 2342, 2344, 2346, 2348, 2350, 2352, 2354, 2356, 2358, 2360, 2362, 2364, 2366, 2368, 2370, 2372, 2374, 2376, 2378, 2380, 2382, 2384, 2386, 2388, 2390, 2392, 2394, 2396, 2398, 2400, 2402, 2404, 2406, 2408, 2410, 2412, 2414, 2416, 2418, 2420, 2422, 2424, 2426, 2428, 2430, 2432, 2434, 2436, 2438, 2440, 2442, 2444, 2446, 2448, 2450, 2452, 2454, 2456, 2458, 2460, 2462, 2464, 2466, 2468, 2470, 2472, 2474, 2476, 2478, 2480, 2482, 2484, 2486, 2488, 2490, 2492, 2494, 2496, 2498, 2500, 2502, 2504, 2506, 2508, 2510, 2512, 2514, 2516, 2518, 2520, 2522, 2524, 2526, 2528, 2530, 2532, 2534, 2536, 2538, 2540, 2542, 2544, 2546, 2548, 2550, 2552, 2554, 2556, 2558, 2560, 2562, 2564, 2566, 2568, 2570, 2572, 2574, 2576, 2578, 2580, 2582, 2584, 2586, 2588, 2590, 2592, 2594, 2596, 2598, 2600, 2602, 2604, 2606, 2608, 2610, 2612, 2614, 2616, 2618, 2620, 2622, 2624, 2626, 2628, 2630, 2632, 2634, 2636, 2638, 2640, 2642, 2644, 2646, 2648, 2650, 2652, 2654, 2656, 2658, 2660, 2662, 2664, 2666, 2668, 2670, 2672, 2674, 2676, 2678, 2680, 2682, 2684, 2686, 2688, 2690, 2692, 2694, 2696, 2698, 2700, 2702, 2704, 2706, 2708, 2710, 2712, 2714, 2716, 2718, 2720, 2722, 2724, 2726, 2728, 2730, 2732, 2734, 2736, 2738, 2740, 2742, 2744, 2746, 2748, 2750, 2752, 2754, 2756, 2758, 2760, 2762, 2764, 2766, 2768, 2770, 2772, 2774, 2776, 2778, 2780, 2782, 2784, 2786, 2788, 2790, 2792, 2794, 2796, 2798, 2800, 2802, 2804, 2806, 2808, 2810, 2812, 2814, 2816, 2818, 2820, 2822, 2824, 2826, 2828, 2830, 2832, 2834, 2836, 2838, 2840, 2842, 2844, 2846, 2848, 2850, 2852, 2854, 2856, 2858, 2860, 2862, 2864, 2866, 2868, 2870, 2872, 2874, 2876, 2878, 2880, 2882, 2884, 2886, 2888, 2890, 2892, 2894, 2896, 2898, 2900, 2902, 2904, 2906, 2908, 2910, 2912, 2914, 2916, 2918, 2920, 2922, 2924, 2926, 2928, 2930, 2932, 2934, 2936, 2938, 2940, 2942, 2944, 2946, 2948, 2950, 2952, 2954, 2956, 2958, 2960, 2962, 2964, 2966, 2968, 2970, 2972, 2974, 2976, 2978, 2980, 2982, 2984, 2986, 2988, 2990, 2992, 2994, 2996, 2998, 3000]

In [43]:
list1=list()
a=1000
while a<=3000:
    if a%2==0:
        list1.append(a)
    a+=1
print(list1)

[1000, 1002, 1004, 1006, 1008, 1010, 1012, 1014, 1016, 1018, 1020, 1022, 1024, 1026, 1028, 1030, 1032, 1034, 1036, 1038, 1040, 1042, 1044, 1046, 1048, 1050, 1052, 1054, 1056, 1058, 1060, 1062, 1064, 1066, 1068, 1070, 1072, 1074, 1076, 1078, 1080, 1082, 1084, 1086, 1088, 1090, 1092, 1094, 1096, 1098, 1100, 1102, 1104, 1106, 1108, 1110, 1112, 1114, 1116, 1118, 1120, 1122, 1124, 1126, 1128, 1130, 1132, 1134, 1136, 1138, 1140, 1142, 1144, 1146, 1148, 1150, 1152, 1154, 1156, 1158, 1160, 1162, 1164, 1166, 1168, 1170, 1172, 1174, 1176, 1178, 1180, 1182, 1184, 1186, 1188, 1190, 1192, 1194, 1196, 1198, 1200, 1202, 1204, 1206, 1208, 1210, 1212, 1214, 1216, 1218, 1220, 1222, 1224, 1226, 1228, 1230, 1232, 1234, 1236, 1238, 1240, 1242, 1244, 1246, 1248, 1250, 1252, 1254, 1256, 1258, 1260, 1262, 1264, 1266, 1268, 1270, 1272, 1274, 1276, 1278, 1280, 1282, 1284, 1286, 1288, 1290, 1292, 1294, 1296, 1298, 1300, 1302, 1304, 1306, 1308, 1310, 1312, 1314, 1316, 1318, 1320, 1322, 1324, 1326, 1328, 1330, 1332, 1334, 1336, 1338, 1340, 1342, 1344, 1346, 1348, 1350, 1352, 1354, 1356, 1358, 1360, 1362, 1364, 1366, 1368, 1370, 1372, 1374, 1376, 1378, 1380, 1382, 1384, 1386, 1388, 1390, 1392, 1394, 1396, 1398, 1400, 1402, 1404, 1406, 1408, 1410, 1412, 1414, 1416, 1418, 1420, 1422, 1424, 1426, 1428, 1430, 1432, 1434, 1436, 1438, 1440, 1442, 1444, 1446, 1448, 1450, 1452, 1454, 1456, 1458, 1460, 1462, 1464, 1466, 1468, 1470, 1472, 1474, 1476, 1478, 1480, 1482, 1484, 1486, 1488, 1490, 1492, 1494, 1496, 1498, 1500, 1502, 1504, 1506, 1508, 1510, 1512, 1514, 1516, 1518, 1520, 1522, 1524, 1526, 1528, 1530, 1532, 1534, 1536, 1538, 1540, 1542, 1544, 1546, 1548, 1550, 1552, 1554, 1556, 1558, 1560, 1562, 1564, 1566, 1568, 1570, 1572, 1574, 1576, 1578, 1580, 1582, 1584, 1586, 1588, 1590, 1592, 1594, 1596, 1598, 1600, 1602, 1604, 1606, 1608, 1610, 1612, 1614, 1616, 1618, 1620, 1622, 1624, 1626, 1628, 1630, 1632, 1634, 1636, 1638, 1640, 1642, 1644, 1646, 1648, 1650, 1652, 1654, 1656, 1658, 1660, 1662, 1664, 1666, 1668, 1670, 1672, 1674, 1676, 1678, 1680, 1682, 1684, 1686, 1688, 1690, 1692, 1694, 1696, 1698, 1700, 1702, 1704, 1706, 1708, 1710, 1712, 1714, 1716, 1718, 1720, 1722, 1724, 1726, 1728, 1730, 1732, 1734, 1736, 1738, 1740, 1742, 1744, 1746, 1748, 1750, 1752, 1754, 1756, 1758, 1760, 1762, 1764, 1766, 1768, 1770, 1772, 1774, 1776, 1778, 1780, 1782, 1784, 1786, 1788, 1790, 1792, 1794, 1796, 1798, 1800, 1802, 1804, 1806, 1808, 1810, 1812, 1814, 1816, 1818, 1820, 1822, 1824, 1826, 1828, 1830, 1832, 1834, 1836, 1838, 1840, 1842, 1844, 1846, 1848, 1850, 1852, 1854, 1856, 1858, 1860, 1862, 1864, 1866, 1868, 1870, 1872, 1874, 1876, 1878, 1880, 1882, 1884, 1886, 1888, 1890, 1892, 1894, 1896, 1898, 1900, 1902, 1904, 1906, 1908, 1910, 1912, 1914, 1916, 1918, 1920, 1922, 1924, 1926, 1928, 1930, 1932, 1934, 1936, 1938, 1940, 1942, 1944, 1946, 1948, 1950, 1952, 1954, 1956, 1958, 1960, 1962, 1964, 1966, 1968, 1970, 1972, 1974, 1976, 1978, 1980, 1982, 1984, 1986, 1988, 1990, 1992, 1994, 1996, 1998, 2000, 2002, 2004, 2006, 2008, 2010, 2012, 2014, 2016, 2018, 2020, 2022, 2024, 2026, 2028, 2030, 2032, 2034, 2036, 2038, 2040, 2042, 2044, 2046, 2048, 2050, 2052, 2054, 2056, 2058, 2060, 2062, 2064, 2066, 2068, 2070, 2072, 2074, 2076, 2078, 2080, 2082, 2084, 2086, 2088, 2090, 2092, 2094, 2096, 2098, 2100, 2102, 2104, 2106, 2108, 2110, 2112, 2114, 2116, 2118, 2120, 2122, 2124, 2126, 2128, 2130, 2132, 2134, 2136, 2138, 2140, 2142, 2144, 2146, 2148, 2150, 2152, 2154, 2156, 2158, 2160, 2162, 2164, 2166, 2168, 2170, 2172, 2174, 2176, 2178, 2180, 2182, 2184, 2186, 2188, 2190, 2192, 2194, 2196, 2198, 2200, 2202, 2204, 2206, 2208, 2210, 2212, 2214, 2216, 2218, 2220, 2222, 2224, 2226, 2228, 2230, 2232, 2234, 2236, 2238, 2240, 2242, 2244, 2246, 2248, 2250, 2252, 2254, 2256, 2258, 2260, 2262, 2264, 2266, 2268, 2270, 2272, 2274, 2276, 2278, 2280, 2282, 2284, 2286, 2288, 2290, 2292, 2294, 2296, 2298, 2300, 2302, 2304, 2306, 2308, 2310, 2312, 2314, 2316, 2318, 2320, 2322, 2324, 2326, 2328, 2330, 2332, 2334, 2336, 2338, 2340, 2342, 2344, 2346, 2348, 2350, 2352, 2354, 2356, 2358, 2360, 2362, 2364, 2366, 2368, 2370, 2372, 2374, 2376, 2378, 2380, 2382, 2384, 2386, 2388, 2390, 2392, 2394, 2396, 2398, 2400, 2402, 2404, 2406, 2408, 2410, 2412, 2414, 2416, 2418, 2420, 2422, 2424, 2426, 2428, 2430, 2432, 2434, 2436, 2438, 2440, 2442, 2444, 2446, 2448, 2450, 2452, 2454, 2456, 2458, 2460, 2462, 2464, 2466, 2468, 2470, 2472, 2474, 2476, 2478, 2480, 2482, 2484, 2486, 2488, 2490, 2492, 2494, 2496, 2498, 2500, 2502, 2504, 2506, 2508, 2510, 2512, 2514, 2516, 2518, 2520, 2522, 2524, 2526, 2528, 2530, 2532, 2534, 2536, 2538, 2540, 2542, 2544, 2546, 2548, 2550, 2552, 2554, 2556, 2558, 2560, 2562, 2564, 2566, 2568, 2570, 2572, 2574, 2576, 2578, 2580, 2582, 2584, 2586, 2588, 2590, 2592, 2594, 2596, 2598, 2600, 2602, 2604, 2606, 2608, 2610, 2612, 2614, 2616, 2618, 2620, 2622, 2624, 2626, 2628, 2630, 2632, 2634, 2636, 2638, 2640, 2642, 2644, 2646, 2648, 2650, 2652, 2654, 2656, 2658, 2660, 2662, 2664, 2666, 2668, 2670, 2672, 2674, 2676, 2678, 2680, 2682, 2684, 2686, 2688, 2690, 2692, 2694, 2696, 2698, 2700, 2702, 2704, 2706, 2708, 2710, 2712, 2714, 2716, 2718, 2720, 2722, 2724, 2726, 2728, 2730, 2732, 2734, 2736, 2738, 2740, 2742, 2744, 2746, 2748, 2750, 2752, 2754, 2756, 2758, 2760, 2762, 2764, 2766, 2768, 2770, 2772, 2774, 2776, 2778, 2780, 2782, 2784, 2786, 2788, 2790, 2792, 2794, 2796, 2798, 2800, 2802, 2804, 2806, 2808, 2810, 2812, 2814, 2816, 2818, 2820, 2822, 2824, 2826, 2828, 2830, 2832, 2834, 2836, 2838, 2840, 2842, 2844, 2846, 2848, 2850, 2852, 2854, 2856, 2858, 2860, 2862, 2864, 2866, 2868, 2870, 2872, 2874, 2876, 2878, 2880, 2882, 2884, 2886, 2888, 2890, 2892, 2894, 2896, 2898, 2900, 2902, 2904, 2906, 2908, 2910, 2912, 2914, 2916, 2918, 2920, 2922, 2924, 2926, 2928, 2930, 2932, 2934, 2936, 2938, 2940, 2942, 2944, 2946, 2948, 2950, 2952, 2954, 2956, 2958, 2960, 2962, 2964, 2966, 2968, 2970, 2972, 2974, 2976, 2978, 2980, 2982, 2984, 2986, 2988, 2990, 2992, 2994, 2996, 2998, 3000]

In [44]:
##list of prime numbers between 1 to 100
prime=[]
for i in range(2 , 101):
    count=0
    for j in range(2 , i//2+1):
        if i%j==0:
            count=1
            break
    if count==0:
        prime.append(i)
print(prime)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

### Loops and Dictionary exercises

In [45]:
keys = ['M','A','N','G']
values = ['Meta','Apple','Netflix','Google']
## expected output -> {'M': 'Meta', 'A': 'Apple', 'N': 'Netflix', 'G': 'Google'}

In [46]:
keys = ['M','A','N','G']
values = ['Meta','Apple','Netflix','Google']
MANG=dict(zip(keys,values))
print(MANG)

{'M': 'Meta', 'A': 'Apple', 'N': 'Netflix', 'G': 'Google'}

In [47]:
keys = ['M','A','N','G']
values = ['Meta','Apple','Netflix','Google']
dict={}
for i in range (len(keys)):
    dict[keys[i]]=values[i]
     
print(dict)

{'M': 'Meta', 'A': 'Apple', 'N': 'Netflix', 'G': 'Google'}

In [48]:
keys = ['M','A','N','G']
values = ['Meta','Apple','Netflix','Google']
mang_company= {}
for i in range (len(keys)):
    mang_company.update({keys[i]:values[i]})
    
print(mang_company)

{'M': 'Meta', 'A': 'Apple', 'N': 'Netflix', 'G': 'Google'}

In [49]:
import time
time.time()

1677239260.3142529

In [50]:
#add delay
#time.sleep()

In [51]:
keys = ['M','A','N','G']
values = ['Meta','Apple','Netflix','Google']
dict={}
# start timestamp
start=time.time()
for i in range (len(keys)):
    dict[keys[i]]=values[i]
#duration in seconds
dur=time.time()-start  
print(dict)
print(dur)

{'M': 'Meta', 'A': 'Apple', 'N': 'Netflix', 'G': 'Google'}
0.0

### Exercise: create a dictionary by extracting the keys from a given dictionary

In [52]:
sample={
    "name":"xyz",
    "age":25,
    "salary":10000,
    "city":"New York",
    "contact":987654321
}
#keys to extract
#keys=["name","salary"]

In [53]:
sample={
    "name":"xyz",
    "age":25,
    "salary":10000,
    "city":"New York",
    "contact":987654321
}
keys=["name","salary"]
new_dict={}
for i in keys:
    new_dict[i]=sample[i]
        
print(new_dict)

{'name': 'xyz', 'salary': 10000}

In [54]:
newDict = {k:sample[k] for k in keys}
print(newDict)

{'name': 'xyz', 'salary': 10000}

min()
max()
sum()
abs()

## Exercise:  Scan all keys from dictionary and get a key with minimum value

In [55]:
marks={
    "physics":87,
    "maths":59,
    "chemistry":75,
    "english":91
}
# min(iterable=dictionary, key=function)
print(min(marks,key=marks.get))

maths

### Find freuency of  each word from a given input string

In [56]:
sample_str = "mumbai delhi delhi hyderabad nagpur hyderabad "
words=sample_str.split()
print(words)

['mumbai', 'delhi', 'delhi', 'hyderabad', 'nagpur', 'hyderabad']

In [57]:
fre={}
for i in words:
    fre[i]=words.count(i)
    
print(fre)

{'mumbai': 1, 'delhi': 2, 'hyderabad': 2, 'nagpur': 1}

## Functions
    * In programming, we define a function to make reusable code that performs similar operations. It is a block of organise code written to perform a specific task.  
    * Information can be passed into functions as arguments.
    * Parameters are specified after the function name within paranthesis. function_name(arg1,arg2,....)
    * A function in Python is declared using def keyword.
    * A function may or may not return data.

In [58]:
#declaration of function
def myfunc():
    print("Hello")

In [59]:
#call function
myfunc()

Hello

In [60]:
#function with parameters
def greeting(name):
    '''
    This function greets a peron by its name.
    greeting(name)
    '''
    print("Hello " + str(name) + " Good Evening")
greeting("Sir")

Hello Sir Good Evening

In [61]:
print(print.__doc__)

print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.

In [62]:
#__doc__ use this to get documentation of methods/function
print(greeting.__doc__)

    This function greets a peron by its name.
    greeting(name)

In [63]:
#function with two arguments
def add(var1,var2):
    var3=var1+var2
    # %s - string, %d/%i - numerical(int), %f- float
    print("sum of two arguments are: %d" %var3)
    print("sum of two arguments are:", var3)
add(12,12.5)

sum of two arguments are: 24
sum of two arguments are: 24.5

In [64]:
# Function with return statement
def greeting(name):
    statement="Hello " + name + " Good Evening"
    return statement
# calling a function
greeting("K")

'Hello K Good Evening'

### Create a function calculator, takes 3 parameters two numbers and one operation

In [65]:
def calculator(val1,val2,operator):
    ans=0
    if operator=="+":
        ans=val1+val2
        print(ans)
    elif operator=="-":
        ans=val1-val2
        print(ans)
    elif operator=="*":
        ans=val1*val2
        print(ans)
    elif operator=="/":
        ans=val1/val2
        print(ans)
    elif operator=="%":
        ans=val1%val2
        print(ans)

a=float(input("Enter val1: "))
b=float(input("Enter val2: "))
c=input("enter operator")
calculator(a,b,c)

Enter val1: 12
Enter val2: 12
enter operator*
144.0

In [74]:
def calculator(val1,val2,operator):
    ans=0
    return(val1+val2 if operator=="+" else val1-val2 if operator=="-" else val1*val2 if operator=="*" else val1/val2 if operator=="/" else "Not a valid operator")
    return ans

a=float(input("Enter val1: "))
b=float(input("Enter val2: "))
c=input("enter operator")
calculator(a,b,c)

Enter val1: 12
Enter val2: 10
enter operator-

2.0

### Scope of a variable

In [76]:
#local scope

var = "global variable"
def inner():
    var = 'inner variable'
    print(var)
inner()
print(var)

inner variable
global variable

In [78]:
#global variable
var = "global variable"
def inner():
    var1 = 'inner variable'
    print(var)
inner()

global variable

In [81]:
#enclosed scope
var="global variable"
def outer():
    var="outer variable"
    def inner():
        print(var)
    inner()
    
outer()
print(var)

outer variable
global variable